/** The bottom side of the data layer is the info panel. */
.info-panel {
    left: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: row;
}
/** Dialog is an expanded region for showing panel contents. */
.dialog {
    top: 5vh;
    left: calc(50% - 30vw);
    width: 60vw;
    position: absolute;
    z-index: 255;
    overflow: hidden;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.3rem);
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.dialog h3 .back {
    color: #2881e0;
    margin-right: 0.25rem;
    text-decoration: none;
}
.dialog .close {
    color: #333;
    position: absolute;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    top: 0.5rem;
    right: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.dialog .content {
    padding: 1rem;
    max-height: 100%;
    overflow-y: auto;
    max-height: 90vh;
}
.dialog table.data-table {
    color: rgb(235, 219, 178);
    background: rgb(40, 40, 40);
}
.dialog table.code-table {
    color: #333333;
}
.dialog table.code-table td {
    border-width: 0;
    background-color: #ffffff;
}
.dialog table.code-table td:hover {
    background-color: #f0f0f0;
}
.dialog table.code-table td input {
    vertical-align: bottom;
}
.dialog table.code-table a:nth-child(2n+3) {
    color: #131072;
}
.dialog table.code-table td:nth-child(2n+3) {
    background-color: #f8f8f8;
}
.dialog tr.description td {
    background-color: #f0f0f0;
}
.dialog tr.description p:before {
    content: "“";
}
.dialog tr.description p:after {
    content: "”";
    margin-right: 0.2em;
}
/* Individual panels. */
.info-panel > .panel {
    width: 30rem;
    padding: 0.5rem 1rem;
    border-right: 1px solid #666;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.3rem);
}
.info-panel > .panel:first-child {
    padding-left: calc(max(1rem, 0.5rem + env(safe-area-inset-left)));
}
.panel h3 {
    margin-bottom: 0.1rem;
}
.panel h3 a.back {
    margin-right: 0.5rem;
}
.panel h3 span {
    margin-left: 0.5rem;
    font-size: 1em;
    font-weight: normal;
}
.panel p.quote,
.panel .alternatives {
    color: #666;
    font-style: italic;
}
.panel ol.quote p {
    color: #666;
}
.panel ol.quote li.split::marker {
    content: "";
}
.panel ol.quote li.custom::marker {
    content: attr(seq) ". ";
}
.panel ol.quote li.highlighted {
    background: rgb(235, 219, 178);
}
.panel ol.quote p:first-child {
    color: #000;
    font-style: italic;
}
.panel .quote span:before {
    content: "“";
}
.panel .quote span:after {
    content: "”";
    margin-right: 0.2em;
}
li.owners {
    color: #666;
    font-size: 0.8rem;
}
li.owners i {
    color: #333;
    font-size: 0.95rem;
}
p.owners a:not(:last-child):after,
li.owners a:not(:last-child):after,
.panel a.source:not(:last-child):after,
.dialog td.codes a:not(:last-child):after {
    content: ", ";
}
.panel a.source:before {
    content: " from ";
}
